{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 card p-4 shadow-sm border-0">
        <h3 class="text-center mb-4 fw-bold text-primary">Đăng Ký Thành Viên</h3>
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Tài khoản mới</label>
                <input type="text" name="username" class="form-control" placeholder="Nhập tên tài khoản" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu</label>
                <input type="password" name="password" class="form-control" placeholder="Nhập mật khẩu" required>
            </div>
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Đăng Ký Tài Khoản</button>
            <div class="text-center mt-3">
                <small class="text-muted">Đã có tài khoản? <a href="{{ url_for('login') }}">Đăng nhập ngay</a></small>
            </div>
        </form>
    </div>
</div>
{% endblock %}